body {
  padding-top: 60px;
  padding-bottom: 20px;
  background: #fdfffe
}

h3 {
  font-size: 20px;
  padding-top: 10px;
}

h3 .selection, td .selection {
  margin-right: 5px;
  margin-bottom: 5px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  margin-bottom: 0;
  margin-right: 4px;
}

select {
  width: auto;
}

.condition {
  width: 60px;
}

table {
  background: #ffffff;
}

td p {
  padding: 10px;
font-size: 14px;
}

.adl {
  border: 1px solid #999999;
}

.adl th {
  font-size: 16px;
}

.btn-mini {
  margin-left: 4px;
  margin-bottom: 4px;
}

.space {
  text-align: center;
}

/*
.adl {
  width: 900px;
  border: 1px #E3E3E3 solid;
  border-collapse: collapse;
  border-spacing: 0;
}

.adl th {
  padding: 5px;
  border: #E3E3E3 solid;
  border-width: 0 0 1px 1px;
  background: #F5F5F5;
  font-weight: bold;
  line-height: 120%;
  text-align: center;
}
.adl td {
  padding: 5px;
  border: 1px #E3E3E3 solid;
  border-width: 0 0 1px 1px;
  text-align: left;
}

.adl p {
  line-height: 80%;
}

.any {
  color: #999999;
  font-size: 10px;
}

#add input {
  margin-top: 10px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #ccc;
  padding: 5px 20px;
  font-weight: bold;
  cursor: pointer;
  color: #666;
}

h3 {
  margin-top: 20px;
}

.error {
  color: #ff0000;
  font-size: 9px;
}
*/
